.row {
    display: flex;
    flex-wrap: wrap;
    margin-right: -0.75rem;
    margin-left: -0.75rem;

}

.justify-content-center {
    justify-content: center!important;
}

.card {
    position: relative;
    display: flex;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-color: #fff;
    background-clip: border-box;
    border: 1px solid #e3e6f0;
    border-radius: 0.35rem;
}

.o-hidden {
    overflow: hidden!important;
}

.mb-5, .my-5 {
    margin-bottom: 3rem!important;
}

.mt-5, .my-5 {
    margin-top: 3rem!important;
}

.shadow-lg {
    box-shadow: 0 1rem 3rem rgba(0,0,0,.175)!important;
}

.border-0 {
    border: 0!important;
}

.p-0 {
    padding: 0!important;
}

.card-body {
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
    height: 500px; /* Ajustez la hauteur selon vos besoins */
}


.bg-login-image {
    background: url(https://source.unsplash.com/K4mSJ7kc0As/600x800);
    background-position: center;
    background-size: cover;
    height: 500px;
}

.d-none {
    display: none!important;
}

.p-5 {
    padding: 3rem!important;
}

.text-gray-900 {
    color: #3a3b45!important;
}

.mb-4, .my-4 {
    margin-bottom: 1.5rem!important;
}

.h4, h4 {
    font-size: 1.5rem;
}

.form-control {
    display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #6e707e;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #d1d3e2;
    border-radius: 0.35rem;
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

form.user .form-control-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: 1.5rem 1rem;
}

.custom-control {
    position: relative;
    z-index: 1;
    display: block;
    min-height: 1.5rem;
    padding-left: 1.5rem;
    -webkit-print-color-adjust: exact;
    color-adjust: exact;
}

.small, small {
    font-size: 80%;
    font-weight: 400;
}

.btn:not(:disabled):not(.disabled) {
    cursor: pointer;
}

form.user .btn-user {
    font-size: .8rem;
    border-radius: 10rem;
    padding: 0.75rem 1rem;
}

.btn-block {
    display: block;
    width: 100%;
}

.form-group:first-child input {
    margin-bottom: 10px;
  }
  .btn {
    margin-top: 10px;
  }
    

/* .btn-primary {
    color: #fff;
    background-color: #4e73df;
    border-color: #4. */
